<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-app="loginApp">
<div class="container">
    <form novalidate ng-controller="loginFormController">
        <div class="form-group">
            <label for="userName">用户名</label>
            <input type="text" class="form-control" id="userName" placeholder="用户名" ng-model="user.userName">
        </div>

        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" placeholder="密码" ng-model="user.password">
        </div>
        <button class="btn btn-default" ng-click="login()">登录</button>

    </form>
</div>
<script src="/static/js/md5.js"></script>
<script src="/static/js/login.js"></script>
</body>
</html>

